<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.0.0-beta1-dist/css/bootstrap.css') }}">
    <style>
        img {
            display: block;
            margin left: auto;
            margin right: auto;
            width: 55%
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-md">
          <a class="navbar-brand" href="#">Face Detection</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='bootstrap-5.0.0-beta1-dist/js/bootstrap.js') }}"></script>
</body>
</html>